html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    background-color: #222D92;
    color: #E9A64D;
    margin: 0;
    padding: 0;
}

* {
    transition: all 0.2s ease-out 0s;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
	position: relative;
}


.hello-world {
	display: block;
	padding-top: 25vh;
    text-align: center;
    
}

.hello-world div {
    text-align: top;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.hello-world label {
    display: block;
    color: #fff;
    font-size: 5rem;
}

.hello-world input {
    border: none;
    background-color: #fff;
    color: #E9DFD2;
    display: block;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 15rem;
}

.hello-world input:focus {
    width: 25rem;
}

big {
    color: #d5d5d5 !important;
}
small {
    color: #d5d5d5 !important;
}

